NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SCHEMA=fund
SUPABASE_SERVICE_ROLE_KEY=
EXCHANGE_RATE_PROVIDER_URL=https://open.er-api.com/v6/latest/AUD
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
